<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Update Item</title>
  </head>
  <body>
    <form action="/items/<%= item.id %>" method="POST">
      <h1>Update the item <%= item.name %></h1>
      <input type="hidden" name="id" value="<%= item.id %>" />
      <div>
        <label for="name">Name<span class="required-mark">*</span>:</label>
        <input type="text" name="name" id="name" value="<%= item.name %>" />
      </div>
      <div>
        <label for="">Description<span class="required-mark">*</span>:</label
        ><br />

        <textarea name="description" id="description" cols="40" rows="5">
<%= item.description %></textarea
        >
      </div>
      <div>
        <label for="price">Price<span class="required-mark">*</span>:</label>
        <input type="text" name="price" id="price" value="<%= item.price %>" />
      </div>
      <h2>The categories available<span class="required-mark">*</span>:</h2>

      <% categories.map((category) => { %>
      <div>
        <input id="categoryId" type="radio" name="categoryId" value="<%=
        category.id %>" <% if (category.id == item.categoryId) { %> checked <% }
        %> />
        <label for="categoryId"><%= category.name %></label>
      </div>
      <% }) %>

      <button type="submit">Update item</button>
    </form>
  </body>
</html>
