<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Items</title>
  </head>
  <body>
    <h1>The list of items</h1>
    <% items.map((item) =>{ %>
    <div>
      <h2><%= item.name %></h2>
      <p>Description: <%= item.description %></p>

     
      <% let categoryAssigned = false; %>
      <% for (const category of categories) { %>
        <% if (category.id === item.categoryId) { %>
          <p><%= category.name %></p>
          <% categoryAssigned = true; %>
          <% break; %>
        <% } %>
      <% } %>
      <% if (!categoryAssigned) { %>
        <p>No category assigned</p>
      <% } %>
      
    <p>Price: <%= item.price %></p>
    <a href="/items/<%= item.id %>/edit">Edit</a>
    <button itemid="<%= item.id %>">Delete</button>
    <%}) %>

    <script>
      const allDeleteButtons = document.querySelectorAll("button");

      allDeleteButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const itemId = button.getAttribute("itemid");

          if (confirm("Are you sure you want to delete this item?")) {
            // Send a DELETE request to the server
            fetch(`/items/${itemId}/delete`, {
              method: "POST",
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the item from the DOM if successfully deleted
                  // button.closest('div').remove();
                } else {
                  alert("Failed to delete item. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while deleting the item.");
              });
          }
        });
      });
    </script>
  </body>
</html>
