<div class="item">
  <div class="item-text">
    <h2><%= item.name %></h2>
    <div class="price-category-box">
      <% let categoryAssigned = false; %> <% for (const category of categories)
      { %> <% if (category.id === item.categoryId) { %>
      <p>Category: <%= category.name %></p>
      <% categoryAssigned = true; %> <% break; %> <% } %> <% } %> <% if
      (!categoryAssigned) { %>
      <p>No category assigned</p>
      <% } %>
      <p>Price: <%= item.price %>$</p>
    </div>

    <p class="item-description"><%= item.description %></p>
  </div>
  <div class="item-buttons">
    <a href="/items/<%= item.id %>/edit">Edit</a>
    <button itemid="<%= item.id %>">Delete</button>
  </div>
</div>
